.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 0px;
    margin: 0px;
    justify-content: space-evenly;
    background: rgba(255, 255, 255, 0.05); 
    backdrop-filter: blur(5px);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: background 0.5s ease, box-shadow 0.3s ease;
}
.navbar ul{
    list-style-type: none;
    background: linear-gradient(135deg, #8ee2a37c, #73adaf, #826f97);
    backdrop-filter: blur(16px); 
    -webkit-backdrop-filter: blur(8px);
  
    padding: 0px;
    margin: 0px;
    justify-content: center;
    overflow: hidden;
    display: flex;
    font-family: 'Quicksand'
}

.navbar-logo {
    display: flex;
    align-items: center;
    padding: 0 20px;
    height: 60px; /* match navbar height */
  }

.navbar-logo img {
    object-fit: contain;
    max-height: 150%;
  }
.navbar-item{
  font-size: 1.15rem;
  font-weight: 700;
  color: white;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
  -webkit-text-stroke: 0.5px black; 
  font-family: 'Quicksand', sans-serif;
  padding: 20px 60px;
  display: block;
  text-align: center;
  transition: all 0.2s ease-in-out;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
}
.navbar-item:hover{
    color:rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.1);
    transform: scale(1.05);
    transition: transform 0.2s ease-in-out;
    transform: scale(1.05);
    
}