
.about-page {
    padding-top: 80px; 
    text-align: center;
    color: white;
    background-color: #2d4181;
  }
  

.authors{
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #2d4181;
}

.authors ul {
    list-style: disc; /* Ensures bullet points are visible */
    list-style-position: inside; /* Moves bullets inside the text area */
    display: inline-block; /* Makes the list shrink-wrap around content */
    text-align: left; /* Ensures bullets are properly aligned */
    padding-left: 0; /* Removes extra default padding */
}