.navbar {
    background-color: #8cdb92;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    box-shadow: 0 4px 2px -2px rgb(255, 188, 188);
}
.navbar-menu { 
    display: flex;
    align-items: center;
    max-width: 1800px;
    margin: 0 auto;
    justify-content: space-evenly;
    padding: 10px 20px;
    width: 100%;
   list-style:none;
   display: flex;
}
.navbar-item {
    color: #000000;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    padding: 5px 20px;
    border: 2px solid #6aa56f;
    border-radius: 5px;
    
  }
  .navbar-item {
    color: #000000;
  }